body{
}
div.enemy{
    margin-bottom: auto;
    height: 40%;
    width: 100%;
    position: fixed;
    top: 0;
}
div.player{
    margin-top:auto;
    height: 60%;
    width: 100%;
    position: fixed;
    bottom: 0;
}
button{
    position: fixed;
    top: 37%;
    font-size: 2vh;
    right: 4%;
    font-family: belwe-bt-bd-bold, serif;
    background-color: #FFFA01;
    color: #070002;
    border-style: ridge;
    height: 6%;
    width: 7.5%;
    border-width: 1vh;
    border-color: black;
    z-index: 1;
}
div.cards{
    position: absolute;
    height: 23vh;
    width: auto;
    overflow: visible;
    margin-left: 8vh;
    margin-right: 8vh;
}
.player .cards{
    bottom: 0;
}

.battlefield{
    height: 30vh;
}
img.exampleHero{
    height: 14vw;

}
div.exampleHero{
    height: 40vh;
    width: auto;
    position: absolute;
    left: 44.7%;
}

.player img.exampleCard{
    width: 8vw;
    height: auto;
    margin-bottom: 5vh;
}

