/*main page*/
body {

}

header {
    padding: 10px;
    border-bottom: solid 1px black;
    background-color: orange;
    width: 100%;
    position: fixed;
    top: 0;
}

main {
    padding: 25px;
    padding-top: 80px;
}

/*details*/
label{
    background-image: url('../images/emptyCrystal.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}

input{
    display: none;
}

ul {
   display: inline-block;
}

li {
    display: inline-block;
}

li p{
    text-align: center;
}

/*classes*/
.manaselected{
    background-image: url('../images/manaCrystal.png');
}